<html>

<head>
  <title>deck.gl LineLayer Example</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script src="https://unpkg.com/deck.gl@^8.0.0/dist.min.js"></script>
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.js"></script>
  <!-- <script type="text/javascript" src="vis_data/2020_q4_all_trips.json"></script> -->
  <style type="text/css">
    body {
      width: 100vw;
      height: 100vh;
      margin: 0;
      overflow: hidden;
    }

    .deck-tooltip {
      font-family: Helvetica, Arial, sans-serif;
      padding: 6px !important;
      margin: 8px;
      max-width: 300px;
      font-size: 20px;
    }

    #filter {
      position: absolute;
      top: 0;
      left: 0;
      margin: 12px;
      padding: 20px;
      font-size: 12px;
      line-height: 1.5;
      z-index: 1;
      background: #fff;
      font-family: Helvetica, Arial, sans-serif;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    }

    #prediction {
      position: absolute;
      z-index: 1;
      right: 0;
      top: 0;
    }

    #prediction_loading {
      display: None
    }
    #prediction_fail {
      display: None
    }
    
  </style>

</head>

<body>
  <div id="tooltip"></div>
  <div id="filter">
    <div>
      <label>Year</label>
      <input id="year" name="year" type="range" min="2019" max="2021" step="1" value="2019" onchange="render()"></input>
      <span id="year_val"></span>
    </div>
    <div>
      <label>Month</label>
      <input id="month" name="month" type="range" min="1" max="12" step="1" value="1" onchange="render()"></input>
      <span id="month_val"></span>

    </div>
    <div>
      <label>Count Filter</label>
      <input id="count_filter" name="count_filter" type="range" min="0" max="100" step="1" value="10" onchange="render()"></input>
      <span id="count_filter_val"></span>

    </div>

  </div><br></br>

  <div id="prediction">
    <input type="hidden" id="prediction_station_id" value=-1><br><br>
    <input type="text" id="prediction_station_name" value="" readonly><br><br>

    <button onclick="train_prediction_model()">Train and Visualize Prediction Model</button>
    <h1 id="prediction_loading">Loading .....</h1>
    <h1 id="prediction_fail">No Prediction For This Station</h1>

    <div id="prediction_img" width="400">
    </div>
</body>

<script type="text/javascript">
  const { DeckGL, LineLayer, GeoJsonLayer, ArcLayer } = deck;

  function train_prediction_model() {
    station_name = $("#prediction_station_name").val()
    station_id = $("#prediction_station_id").val()
    year = $("#year").val()
    console.log(station_name)
    if (station_id!=-1){
      $.ajax(
        {
          method: 'GET',
          url: `/bike_prediction_${year}_${station_id}.svg`,
          data: {
            "station_name": station_name,
          },
          beforeSend: d => {
            $("#prediction_fail").hide()
            $("#prediction_loading").show()
            $("#prediction_img").html("")
          },
          success: function (data) {
            if (data.documentElement){
              $("#prediction_loading").hide()
              $("#prediction_img").html(data.documentElement)
            }else{
              $("#prediction_loading").hide()

              $("#prediction_fail").show()
            }
          }
        }
      )
      render()
    }
  }
  function render() {
    var prediction_station = $("#prediction_station_id").val()
    var year = $("#year").val()
    $("#year_val").html(year)
    var month = $("#month").val()
    $("#month_val").html(month)
    var count_filter = $('#count_filter').val()
    $("#count_filter_val").html(count_filter)

    var data;
    $.getJSON(
      '/get_month_year_data',
      {
        "month": month,
        'year': year,
        'count_filter':count_filter
      },
      function (d) {
        ready(d)
      })
    function ready(data) {
      var station_data = JSON.parse('{{ station_data | tojson | safe }}')
      trips_line = new ArcLayer({
        id: 'line',
        data: data,
        opacity: 0.8,
        pickable: true,
        getSourcePosition: function (d) {
          lat = d.start_lat
          lng = d.start_lon
          return [lng, lat]
        },
        getTargetPosition: function (d) {

          lat = d.end_lat
          lng = d.end_lon
          return [lng, lat]
        },
        getSourceColor: d => [255, 0, 0],
        getTargetColor: d => [0, 0, 255],
        getWidth: d => {
          return d.count / 10
        }
      })

      station_geo = new GeoJsonLayer({
        id: "station_geo",
        data: station_data,
        pickable: true,
        stroked: false,
        filled: true,
        extruded: true,
        lineWidthScale: 20,
        lineWidthMinPixels: 2,
        getFillColor: d => {
          if (d.properties.kioskId == prediction_station) {
            return [255, 0, 0, 255]
          } else if (d.properties.hover_select == true) {
            console.log("asfasgasg")
            return [0, 255, 0, 255]
          } else {
            return [160, 160, 180, 200]
          }
        },
        getLineColor: [0, 255, 0],

        getRadius: d => {
          if (d.properties.kioskId == prediction_station) {
            return 90
          } else {
            return 30
          }
        },
        getLineWidth: 1,
        getElevation: 30,
        onClick: (info, event) => {
          var obj = info.object
          // debugger;
          var station_id = info.object.properties.kioskId
          var station_name = info.object.properties.name
          $("#prediction_station_id").val(station_id)
          $("#prediction_station_name").val(station_name)

        },
        // onHover:(info,event)=>{
        //   // debugger;
        //   obj = info.object;
        //   if (obj){
        //     obj.properties.hover_select = true;
        //     console.log(obj)
        //   }
        // }
      });

      new DeckGL({
        mapStyle: 'https://basemaps.cartocdn.com/gl/positron-gl-style/style.json',
        initialViewState: {
          latitude: 34.0522,
          longitude: -118.2437,
          zoom: 12,
          maxZoom: 16,
          pitch: 50,
          bearing: 0
        },
        controller: true,
        layers: [station_geo, trips_line],
        getTooltip: ({ object }) => {
          if (object) {
            console.log(object)
            if (object.count) {
              var str = `Trip Count ${object.count}\n From Station: ${object.start_station}\n To Station: ${object.end_station}\n`

              return str
            } else if (object.properties.kioskId) {
              console.log("dsafasf")
              var str = `Station Name: ${object.properties.name}\n Station Id: ${object.properties.kioskId}\n`
              return str
            } 
          }
        },

      });
    }
  }

  function getColor(d) {
    const z = d.end_lat;
    const r = z / 10000;
    return [255 * (1 - r * 2), 128 * r, 255 * r, 255 * (1 - r)];
  }
  render()
  // train_prediction_model()
</script>

</html>