<html>
  <head>
    <title>CTA BUS DATA</title>

    <script src="https://unpkg.com/deck.gl@^8.0.0/dist.min.js"></script>
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style type="text/css">
      body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        overflow: hidden;
      }
      .deck-tooltip {
        font-family: Helvetica, Arial, sans-serif;
        padding: 6px !important;
        margin: 8px;
        max-width: 300px;
        font-size: 10px;
      }
    </style>
    <style type="text/css">
      body {
        margin: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
      }
  
      .deck-tooltip {
        font-size: 0.8em;
        font-family: Helvetica, Arial, sans-serif;
      }
  
      #filter {
        position: absolute;
        top: 0;
        left: 0;
        margin: 12px;
        padding: 20px;
        font-size: 12px;
        line-height: 1.5;
        z-index: 1;
        background: #fff;
        font-family: Helvetica, Arial, sans-serif;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
      }
  
      #prediction {
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
      }
  
      #prediction_loading {
        display: None
      }
  
      #prediction_fail {
        display: None
      }
    </style>
  </head>

  <body>
    <label>Date?</label>
    <input id="date" type="date" value="2019-01-06" onchange="updateDate(event)">

    <div id="map" style="width: 100vw; height: 100vh;"></div>
    <div id="prediction">
      <input type="hidden" id="prediction_daytime_routes" value="none"><br><br>
      <input type="text" id="prediction_stop_name" value="" readonly><br><br>
  
      <button onclick="train_prediction_model()">Train and Visualize Prediction Model</button>
      <h1 id="prediction_loading">Loading .....</h1>
      <h1 id="prediction_fail">No Prediction For This Station</h1>
  
      <div id="prediction_img" width="400">
      </div>
  </body>

  <script type="text/javascript">
      const {DeckGL, GeoJsonLayer} = deck;

      deck_gl =  new DeckGL({
        container: "map",
        mapStyle: 'https://basemaps.cartocdn.com/gl/positron-gl-style/style.json',
        initialViewState: {
          latitude: 41.8781,
          longitude: -87.629,
          zoom: 9,
          maxZoom: 16,
          pitch: 45
        },
        controller: true,
        layers: [],
        getTooltip,

      });
  function train_prediction_model() {
    stop_name = $("#prediction_stop_name").val()
    daytime_routes = $("#prediction_daytime_routes").val()
    year = $("#date").val().split("-")[0]
    console.log(stop_name)
    if (daytime_routes != -1) {
      $.ajax(
        {
          method: 'GET',
          url: `/cta/bus/prediction/${year}/${daytime_routes}`,
          data: {
            "stop_name": stop_name,
            "daytime_routes":daytime_routes
          },
          beforeSend: d => {
            $("#prediction_fail").hide()
            $("#prediction_loading").show()
            $("#prediction_img").html("")
          },
          success: function (data) {
            if (data.documentElement) {
              $("#prediction_loading").hide()
              $("#prediction_img").html(data.documentElement)
            } else {
              $("#prediction_loading").hide()

              $("#prediction_fail").show()
            }
          }
        }
      )
    }
  }
    function updateDate (e){
      var date = e.target.value.split("-")
      $.ajax({
      type:"GET",
      url: "/cta/bus/daily/"+date[1]+date[2]+date[0],
      dataType: "json",
      success: function(r){
        data = r
        generateMap(r)
      }
    })
    }
    function getColorLine(data, d) {
      // console.log(d)
      // console.log(data)
      var route = d.properties.ROUTE
      if (route in data){
        var val = data[route]
        // console.log(val.rides, val.q33, val)
        if (val.rides  < val.q33){
          return [0,255,0]
        }
        if (val.rides  < val.q66){
          return [255,255,0]
        }
        return [255,0,0]
      }
      else {
        return [200,200,200]
      }
    }
    function quantileSorted(values, p, fnValueFrom) {
      var n = values.length;
      if (!n) {
        return;
      }
      fnValueFrom =
        Object.prototype.toString.call(fnValueFrom) == "[object Function]"
          ? fnValueFrom
          : function (x) {
              return x;
            };
      p = +p;
      if (p <= 0 || n < 2) {
        return +fnValueFrom(values[0], 0, values);
      }
      if (p >= 1) {
        return +fnValueFrom(values[n - 1], n - 1, values);
      }
      var i = (n - 1) * p,
        i0 = Math.floor(i),
        value0 = +fnValueFrom(values[i0], i0, values),
        value1 = +fnValueFrom(values[i0 + 1], i0 + 1, values);
      return value0 + (value1 - value0) * (i - i0);
    }
    $.ajax({
      type:"GET",
      url: "/cta/bus/daily/01062019",
      dataType: "json",
      success: function(r){
        data = r
        generateMap(r)
      }
    })
    function generateMap(data){
    
      const COLOR_SCALE = [
        // negative
        [65, 182, 196],
        [127, 205, 187],
        [199, 233, 180],
        [237, 248, 177],
        // positive
        [255, 255, 204],
        [255, 237, 160],
        [254, 217, 118],
        [254, 178, 76],
        [253, 141, 60],
        [252, 78, 42],
        [227, 26, 28],
        [189, 0, 38],
        [128, 0, 38]
      ];
      // console.log(data)
      const railsLayer = new GeoJsonLayer({
        id:"raillines",
        data: '/static/geojson/CTA_RailLines.geojson',
        pickable: true,
        stroked: false,
        filled: true,
        extruded: true,
        lineWidthScale: 20,
        lineWidthMinPixels: 2,
        getFillColor: [160, 160, 180, 200],
        getLineColor: [255,0,0],
        getRadius: 100,
        getLineWidth: 1,
        getElevation: 30,
      });
      const busLayer = new GeoJsonLayer({
        id:"busroutes",
        data: '/static/geojson/CTA_BusRoutes.geojson',
        pickable: true,
        stroked: false,
        filled: true,
        extruded: true,
        lineWidthScale: 20,
        lineWidthMinPixels: 2,
        // getFillColor: [160, 160, 180, 200],
        // getLineColor: [0,255,0],
        getRadius: 100,
        getLineWidth: 1,
        getElevation: 30,
        getLineColor: d => getColorLine(data,d),
        updateTriggers:{
          getLineColor:data
        },
        onClick: (info, event) => {
          console.log(info)
          console.log(event)
          var obj = info.object
          var daytime_routes = obj.properties.ROUTE
          var station_name = obj.properties.Name
          // // debugger;
          // var station_name = info.object.properties.name
          $("#prediction_daytime_routes").val(daytime_routes)
          $("#prediction_stop_name").val(station_name)

        },
      });
      
      const railsstops = new GeoJsonLayer({
        id:"railsstops",
        data: '/static/geojson/CTA_RailStations.geojson',
        pickable: true,
        stroked: false,
        filled: true,
        extruded: true,
        lineWidthScale: 20,
        lineWidthMinPixels: 2,
        // getFillColor: [160, 160, 180, 200],
        getFillColor: [150,0,0, 300],
        getLineColor: [150,0,0],
        getRadius: 70,
        getLineWidth: 1,
        getElevation: 30,
      });
      const busstops = new GeoJsonLayer({
        id:"busstops",
        data: '/static/geojson/CTA_BusStops.geojson',
        pickable: true,
        stroked: false,
        filled: true,
        extruded: true,
        lineWidthScale: 20,
        lineWidthMinPixels: 2,
        // getFillColor: [160, 160, 180, 200],
        getFillColor: [0,150,0, 300],
        getLineColor: [0,150,0],
        getRadius: 30,
        getLineWidth: 1,
        getElevation: 30,
        // getFillColor: d => {console.log(d);return [0,150,0, 300]}
      });

      deck_gl.setProps({
        layers:[busLayer,busstops]
      })
    }
    function colorScale(x) {
      const i = Math.round(x * 7) + 4;
      if (x < 0) {
        return COLOR_SCALE[i] || COLOR_SCALE[0];
      }
      return COLOR_SCALE[i] || COLOR_SCALE[COLOR_SCALE.length - 1];
    }
    function getTooltip({object}) {
      if (object && object.properties.hasOwnProperty("ROUTE")) {
      return `Route
        ${object.properties.ROUTE}
        Usage
        ${data[parseInt(object.properties.ROUTE)].rides}`;
      }
      
    }
  </script>
</html>