<html>
    <head>
        <title>Traffic Visualization and Prediction</title> 
    </head>

    <body>
        <button onclick="window.location='/air';">Air Traffic Vis</button><br></br>
        <button onclick="window.location='/info';">Info Vis</button><br></br>
        <button onclick="window.location='/la/bike';">LA Bike Share Vis</button><br></br>
        <button onclick="window.location='/transit';">Transit Vis</button><br></br>
        <button onclick="window.location='/cta/bus';">CTA Vis</button><br></br>

    </body>
</html>