<html>
<head>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.min.js"></script>
    <title>Transit Network Visualization Test</title>
    <style>
    .ribbons {
        transition: opacity .5s;
    }
    .fixed circle {
        fill: yellow;
    }
    </style>
</head>
<body>

    <div id = "container"></div>
    <div>
        <label>Minimum Ridership</label>
        <input id="ridership" name="ridership" type="range" min="500" max="3000" step="100" value="2000" onchange="updateLabel(this.value);"></input>
        <span id="ridership_val">2000</span>
    </div>
    <div id="network"></div>
    <script>
        function updateLabel(val) {
            console.log(document.getElementById('ridership_val'))
            document.getElementById('ridership_val').innerHTML=val; 
        }
    </script>
    <script src = "/static/js/network.js"></script>
    <script src = "/static/js/chord.js"></script>
    <script src = "/static/js/heatmap.js"></script>    
</body>
</html>