<html>
  <head>
    <title>deck.gl LineLayer Example</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://unpkg.com/deck.gl@^8.0.0/dist.min.js"></script>
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.js"></script>
    <!-- <script type="text/javascript" src="vis_data/2020_q4_all_trips.json"></script> -->
    <style type="text/css">
    
    body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    }
    
    .deck-tooltip {
    font-size: 0.8em;
    font-family: Helvetica, Arial, sans-serif;
    }
    #filter {
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    padding: 20px;
    font-size: 12px;
    line-height: 1.5;
    z-index: 1;
    background: #fff;
    font-family: Helvetica, Arial, sans-serif;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    }
    </style>
  </head>
  <body>
    <div id="tooltip"></div>
    <div id="filter">
      <select name="year" id="year" onchange="render()">
        <option value=2019>2019</option>
        <option value=2020>2020</option>
      </select>
      <select name="month" id="month" onchange="render()">
        <option value=1>Jan</option>
        <option value=2>Feb</option>
        <option value=3>Mar</option>
        <option value=4>Apr</option>
        <option value=5>May</option>
        <option value=6>Jun</option>
        <option value=7>Jul</option>
        <option value=8>Aug</option>
        <option value=9>Sep</option>
        <option value=10>Oct</option>
        <option value=11>Nov</option>
        <option value=12>Dec</option>
      </select>
    </div>
  </body>
  <script type="text/javascript">
  /*
  * https://deck.gl/docs/api-reference/aggregation-layers/heatmap-layer#properties
  */
  const {DeckGL, HeatmapLayer} = deck;
  function render(){
  var year = document.getElementById("year").value
  var month = document.getElementById("month").value
  var data;
  $.getJSON(
  '/get_month_year_transit_data',
  {
  "month": month,
  'year': year
  },
  function (d) {
  ready(d)
  })
  function ready(data) {
  const layer = new HeatmapLayer({
  id: 'HeatmapLayer',
  data: 'https://ankit-kaul.github.io/data/stop_list.json',
  /* props from HeatmapLayer class */
  // aggregation: 'SUM',
  // colorDomain: null,
  // colorRange: [[255, 255, 178], [254, 217, 118], [254, 178, 76], [253, 141, 60], [240, 59, 32], [189, 0, 38]],
  getPosition: d => d.COORDINATES,
  // getWeight: 1,
  // intensity: 1,
  radiusPixels: 25,
  // threshold: 0.05,
  /* props inherited from Layer class */
  // autoHighlight: false,
  // coordinateOrigin: [0, 0, 0],
  // coordinateSystem: COORDINATE_SYSTEM.LNGLAT,
  // highlightColor: [0, 0, 128, 128],
  // modelMatrix: null,
  // opacity: 1,
  // pickable: false,
  // visible: true,
  // wrapLongitude: false,
  });
  new DeckGL({
  mapStyle: 'https://basemaps.cartocdn.com/gl/positron-gl-style/style.json',
  initialViewState: {
  longitude: -73.968379,
  latitude: 40.799446,
  zoom: 11,
  maxZoom: 20,
  pitch: 30,
  bearing: 0
  },
  controller: true,
  
  layers: [layer]
  });
  }
  }
  // }
  render()
  </script>
</html>