<html>
  <head>
    <title>deck.gl LineLayer Example</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://unpkg.com/deck.gl@^8.0.0/dist.min.js"></script>
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.js"></script>
    <!-- <script type="text/javascript" src="vis_data/2020_q4_all_trips.json"></script> -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <style type="text/css">
    
    body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    }
    
    .deck-tooltip {
    font-size: 0.8em;
    font-family: Helvetica, Arial, sans-serif;
    }
    #filter {
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    padding: 20px;
    font-size: 12px;
    line-height: 1.5;
    z-index: 1;
    background: #fff;
    font-family: Helvetica, Arial, sans-serif;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    }
    </style>
  </head>
  <body>
    <div id="tooltip"></div>
    <div id="filter">
      <select name="year" id="year" onchange="render()">
        <option value=2019>2019</option>
        <option value=2020>2020</option>
      </select>
      <select name="month" id="month" onchange="render()">
        <option value=1>Jan</option>
        <option value=2>Feb</option>
        <option value=3>Mar</option>
        <option value=4>Apr</option>
        <option value=5>May</option>
        <option value=6>Jun</option>
        <option value=7>Jul</option>
        <option value=8>Aug</option>
        <option value=9>Sep</option>
        <option value=10>Oct</option>
        <option value=11>Nov</option>
        <option value=12>Dec</option>
      </select>
    </div>
  </body>
  <script type="text/javascript">
  /*
  * https://deck.gl/docs/api-reference/layers/scatterplot-layer
  */
  const {DeckGL, ScatterplotLayer} = deck;
  function render(){
  var year = document.getElementById("year").value
  var month = document.getElementById("month").value
  var dat;
  $.getJSON(
  '/get_month_year_transit_data',
  {
  "month": month,
  'year': year
  },
  function (d) {
  ready(d)
  })
  function ready(d) {
  console.log(d)

  const colorscale = d3.scaleOrdinal()
          .range(d3.schemePaired)
          // .range(d3.schemeCategory10)
          .domain(d.map(function (d){
          // console.log(d)
          return d.route_id}));

  // const layer = new ScatterplotLayer({
  // id: 'ScatterplotLayer',
  // data: 'https://ankit-kaul.github.io/data/stop_list.json',
  
  // /* props from ScatterplotLayer class */
  
  // // filled: true,
  // getFillColor: [255, 140, 0],
  // // getFillColor:   d => {
  // // // console.log(colorscale(d.route_id))
  // // return colorscale(d.route_id)},
  // getLineColor: [0, 0, 0],
  // // getLineWidth: 1,
  // getPosition: d => d.COORDINATES,
  // getRadius: d => Math.sqrt(d.exits),
  // // lineWidthMaxPixels: Number.MAX_SAFE_INTEGER,
  // lineWidthMinPixels: 1,
  // // lineWidthScale: 1,
  // // lineWidthUnits: 'meters',
  // radiusMaxPixels: 200,
  // radiusMinPixels: 1,
  // radiusScale: 15,
  // // radiusUnits: 'meters',
  // stroked: true,
  
  // /* props inherited from Layer class */
  
  // // autoHighlight: false,
  // // coordinateOrigin: [0, 0, 0],
  // // coordinateSystem: COORDINATE_SYSTEM.LNGLAT,
  // // highlightColor: [0, 0, 128, 128],
  // // modelMatrix: null,
  // opacity: 0.8,
  // pickable: true,
  // // visible: true,
  // // wrapLongitude: false,
  // });


  const layers = [ new ScatterplotLayer({
  id: 'ScatterplotLayer',
  data: 'https://ankit-kaul.github.io/data/stop_list.json',
  
  /* props from ScatterplotLayer class */
  
  // filled: true,
  // getFillColor: [255, 140, 0],
  getFillColor:   d => {
    var color = colorscale(d.route_id)
    var color_rgb = d3.rgb(color)
  // console.log(colorscale(d.route_id))
  return [color_rgb.r,color_rgb.g,color_rgb.b]},
  // getLineColor: [0, 0, 0],
  // getLineWidth: 1,
  getPosition: d => d.COORDINATES,
  getRadius: d => 10,
  // lineWidthMaxPixels: Number.MAX_SAFE_INTEGER,
  lineWidthMinPixels: 1,
  // lineWidthScale: 1,
  // lineWidthUnits: 'meters',
  radiusMaxPixels: 200,
  radiusMinPixels: 1,
  radiusScale: 15,
  // radiusUnits: 'meters',
  stroked: true,
  
  /* props inherited from Layer class */
  
  // autoHighlight: false,
  // coordinateOrigin: [0, 0, 0],
  // coordinateSystem: COORDINATE_SYSTEM.LNGLAT,
  // highlightColor: [0, 0, 128, 128],
  // modelMatrix: null,
  opacity: 0.8,
  pickable: true,
  // visible: true,
  // wrapLongitude: false,
  })
  ];

  new DeckGL({
  mapStyle: 'https://basemaps.cartocdn.com/gl/positron-gl-style/style.json',
  initialViewState: {
  longitude: -73.968379,
  latitude: 40.799446,
  zoom: 13,
  maxZoom: 20,
  pitch: 30,
  bearing: 0
  },
  controller: true,
  getTooltip: ({object}) => object && `${object.name}
  ${object.address}`,
  layers: layers
  });
  }
  }
  // }
  render()
  </script>
</html>